*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* to box modle*/

}
body{
    font-family: "Merriweather" , serif;
    background-color: #ebf2ff ; 
    background-image: url(./81f3ff974d82520780078ba1cfbd453a1583259680\ \(1\).avif);
    
}
button__primary{
    background-color:rgb(196, 32, 32); 
    padding: 12px;
    border-radius: 6px;
    border: none;
    color: #ebf2ff;
    cursor: pointer;

}
.container{
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #ffff ;
    
  
}
.navbar__brand{
    width: 100px;
    margin-top: 5px;

}
.navbar__logo{
width: 100%;
}
.nav__item{

 background-color:rgb(196, 32, 32); 
 padding: 12px;
 border-radius: 6px;
 border: none;
 color: #ebf2ff;
 cursor: pointer;
}
.nav__item:hover{
    background-color: rgb(221, 32, 32);
}
.section__main{
    width: 100%;
    height: 600px;
    background-image: url('./81f3ff974d82520780078ba1cfbd453a1583259680\ \(1\).avif');
    
}
.nav__parent{
    display: flex;
    gap: 50px;
    justify-content:flex-end;
}
.nav__header{
    color: #ebf2ff;
    margin-top: 15px;
    text-decoration: none;
   padding-right: 50px;
}
.Zom__div{
    width: 150px;
    height: 60px;
    display: flex;
    display: inline-block;
}
.Zom__img{
    margin-top: 200px;
    margin-left: 600px;
    width: 150px;
    height: 60px;
 
}
.Zom__text{
    margin-left: 500px;
    color: #ebf2ff;
    width: 450px;

} 
.hero__image__container{
    width: 100%;
}
.hero__image{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0,0,0.25);
}
.hero__text{
     font-size: 30px;
     margin-top: 20px 0;
     color: #ebf2ff;
}

@media(min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 5px 30px ;
    } 
    .hero__container{
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        
    }
}
@media(min-width:1020px){
    .container{
        max-width: 900px;
    }
    .navbar__brand{
        width: 150px;
        justify-content: space-between;
        padding: 10px 30px ;
    }
       .button__primary{
        padding: 20px;
        font-size: 20px;
        
    }
    .hero__description{
        width: 100%;
    }
    /* .hero__text{
        font-size: 50px;
    } */

}
@media(min-width:1400px){
    .container{
      max-width: 1250px;
      
    }
}